@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99.5%;
    --foreground: 0 0% 3.9%;

    --shaded: 0 0% 97.8%;
    --page: 0 0% 97%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 92%;
    --border-highlight: 0 0% 85%;
    --input: 0 0% 89.8%;
    --contrast: 0 0% 60%;

    --primary: 0 0% 1%;
    --primary-foreground: 0 0% 99%;

    --secondary: 0 0% 94%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --creative: 160 65% 37%;
    --creative-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --warning: 47 84.2% 60.2%;
    --warning-foreground: 0 0% 98%;

    --grid: 0 0% 98.5%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;

    --type-exec: 234 85% 63%;
    --type-enum: 272 85% 63%;
    --type-number: 0 0% 63%;
    --type-string: 0 0% 40%;
    --type-image: 40 90% 53%;
    --type-buffer: 40 90% 53%;
    --type-boolean: 287 37% 75%;
    --type-vector: 240 47% 58%;
    --type-color: 42 93% 64%;
    --type-date: 94 38% 59%;
    --type-location: 178 30% 43%;
    --type-array: 345 59% 72%;
    --type-address: 198 61% 39%;
    --type-weather: 198 61% 39%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 0 0% 63.9%;
  }

  .dark {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;

    --shaded: 0 0% 2.5%;
    --page: 0 0% 3%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --border-highlight: 0 0% 30%;
    --input: 0 0% 14.9%;
    --contrast: 0 0% 40%;

    --primary: 0 0% 99%;
    --primary-foreground: 0 0% 1%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 91%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --creative: 160 65% 37%;
    --creative-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --warning: 47 62.8% 30.6%;
    --warning-foreground: 0 85.7% 97.3%;

    --grid: 0 0% 5%;

    --ring: 0 0% 14.9%;
    --type-string: 0 0% 80%;
    
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 0 0% 14.9%;
  }
}

  html body[data-scroll-locked] {
    overflow: visible !important;
    margin-right: 0 !important;
  } 

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.EmojiPickerReact {
  --epr-bg-color: hsl(var(--background)) !important;
  --epr-category-label-bg-color: hsl(var(--background)) !important;
  --epr-text-color: hsl(var(--foreground)) !important;
  --epr-emoji-hover-color: hsl(var(--muted)) !important;
  --epr-emoji-size: 1.5rem !important;
  --epr-category-navigation-button-size: 1.8rem !important;
  --epr-category-icon-active-color: hsl(var(--primary)) !important;
  margin-top: 0.5rem !important;
  border: hsl(var(--border)) 1px solid !important;
}

.epr-emoji-category-label {
  display: none !important;
}

.epr-category-nav {
  padding-top: 5px !important;
}

.epr-search {
  background-color: hsl(var(--background)) !important;
  border: hsl(var(--border)) 1px solid !important;
  height: 36px !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

/* Hubspot */

#hubspot-conversations-iframe {
  color-scheme: light;
}

#hubspot-conversations-inline-iframe {
  width: 22rem;
  height: 34rem;
}
